body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}

.search {
    border-radius: 20px;
    border: 1px solid rgba(230, 230, 230, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    margin-top: 36px;
    margin-bottom: 28px;
}

.search .search-inp {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    margin-right: 8px;
}

.search .search-svg {
    margin: 7px 7px 6px 8px;
}

/* @media screen and (min-width: 1080px) { */
    .top-sidebar {
        display: none;
    }

    .left-sidebar-container {
        width: 80px;
        min-height: 100vh;
    }

    .left-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        height: 100vh;
        border-right: 1px solid rgba(230, 230, 230, 1);
        z-index: 1;
    }

    .img-logo {
        width: 38px;
        height: 38px;
        margin: 0px 24px;
        margin-top: 42px;
    }

    .center-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .center-nav .nav-home {
        margin-bottom: 25px;
    }

    .bottom-nav {
        padding-bottom: 20px;
    }

    .right-sidebar {
        width: 480px;
        min-height: 100vh;
        padding: 0 32px;
        border-left: 1px solid rgba(230, 230, 230, 1);
    }
/* } */

@media screen and (max-width: 1239.98px) {
    .right-sidebar {
        width: 200px;
    }
}
/*
@media screen and (max-width: 1079.98px) {
    .left-sidebar {
        display: none;
    }

    .right-sidebar {
        display: none;
    }
} */